* {
  margin: 0;
  padding: 0;
}

.navbar .logo {
  width: 160px;
}
.navbar .offcanvas-title {
  color: #c89274;
}
.navbar .nav-link {
  color: #c89274;
  text-decoration: none;
}
.navbar .nav-item:hover {
  background-color: #e0dddd;
  border-radius: 4px;
  transition: 0.5s;
}

/*start main*/
/*start banner*/
.bannerp {
  position: relative;
  display: inline-block;
}
.bannerp .banner-principal {
  position: absolute;
  top: 31%;
  color: white;
  left: 60%;
}
.bannerp .banner-principal h1 {
  font-size: 6rem;
}
.bannerp .banner-principal .button {
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  background-color: #c89274;
  border-radius: 20%;
  padding: 10px;
}
.bannerp .banner-principal .button:hover {
  color: #434343;
  transition: 0.5s;
}

/*start cards-index*/
.cards-index {
  padding: 30px;
  text-align: center;
}
.cards-index .cards {
  display: inline-block;
  background-color: rgba(255, 251, 251, 0.9333333333);
  padding: 10px;
  margin: 10px;
}
.cards-index .cards img {
  width: 10%;
  object-fit: cover;
}
.cards-index .cards h3,
.cards-index .cards p {
  padding: 15px;
  color: #686767;
}

/*carrusel index*/
.tex-resena {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}

.carousel {
  text-align: center;
  padding: 20px;
}

.carousel-dark .carousel-caption {
  color: white;
}

.carousel-inner p {
  margin: 0 30%;
}

/*start footer*/
footer {
  background-color: #ffffff;
  padding-top: 10%;
}
footer h3 {
  font-size: 20px;
  text-align: center;
}
footer img {
  width: 40%;
  margin: 0 5px;
}
footer ol, footer ul {
  padding-left: 0rem;
}
footer ul li {
  text-align: center;
  list-style: none;
}
footer ul li .nav-link2 {
  color: rgb(173, 173, 173);
  font-size: 18px;
  text-decoration: none;
}

/*start html quienessomos*/
.banner-qs {
  margin-left: 10%;
  display: grid;
  gap: 38px;
  padding: 130px;
  color: rgb(0, 0, 0);
}
.banner-qs h2 {
  font-size: 40px;
}
.banner-qs p {
  width: 50%;
  color: #807e7e;
}

/*start html galeria*/
.contenido {
  margin-top: 13%;
  text-align: center;
  display: grid;
  justify-items: center;
}
.contenido p {
  width: 36%;
  margin-top: 10px;
  color: #807e7e;
}

.galeria {
  margin-top: 32px;
  padding: 75px;
}
.galeria .animation-galeria {
  transition: 1s;
}
.galeria .animation-galeria:hover {
  transform: scale(1.05, 1.05);
}
.galeria img {
  width: 100%;
}
.galeria .tards-galeria {
  margin: 0 0 20px;
}

/*start html servicios*/
.cards-index {
  padding: 50px;
}
.cards-index .cards_servicios img {
  width: 20%;
  object-fit: cover;
}
.cards-index .cards_servicios2 img {
  width: 25%;
  object-fit: cover;
}

.card-infocontac {
  width: 534px;
  margin-top: 80px;
}
.card-infocontac .card-infocontac-color {
  background-color: #f7e6db;
}
.card-infocontac .card-infocontac-color p {
  color: #807e7e;
}

/*start html contacto*/
.bannerp-formu {
  position: relative;
  display: flex;
}
.bannerp-formu .container-div {
  position: absolute;
  margin-top: 16%;
  left: 10%;
}
.bannerp-formu .container-div .container-div h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  margin: 0 0 20px 0;
  color: #434343;
}
.bannerp-formu .container-div .container-dtd {
  display: flex;
}
.bannerp-formu .container-div .container-dtd .form-container-dtd {
  display: grid;
  width: 300px;
  margin: 0 39px 0 0;
}
.bannerp-formu .container-div .container-dtd .form-label-dtd {
  margin-top: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #595959;
}
.bannerp-formu .container-div .container-dtd .form-input-dtd {
  border-radius: 10px;
  height: 130%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.bannerp-formu .container-div .button-enviar-dtd {
  background-color: #434343;
  border-radius: 10px;
  margin-top: 4%;
  width: 100px;
  color: white;
}

/*comienzo media queries 990px*/
/*index*/
@media only screen and (max-width: 990px) {
  .bannerp {
    width: 170%;
  }
  .bannerp img {
    margin-top: 60px;
  }
  .bannerp .banner-principal {
    top: 46%;
    left: 5%;
    right: 40%;
  }
  .bannerp .banner-principal h1 {
    font-size: 5rem;
  }
  /*start html quienessomos*/
  .img-fluid {
    margin-top: 100px;
  }
  .banner-qs {
    margin-left: 92px;
  }
  .banner-qs h2 {
    font-size: 73px;
  }
  .banner-qs p {
    width: 90%;
  }
}
/*comienzo media queries 660px*/
@media only screen and (max-width: 660px) {
  .bannerp {
    width: 170%;
  }
  .bannerp img {
    margin-top: 60px;
  }
  .bannerp .banner-principal {
    top: 46%;
    left: 5%;
    right: 40%;
  }
  .bannerp .banner-principal h1 {
    font-size: 3rem;
  }
  /*start html quienessomos*/
  .img-fluid {
    margin-top: 134px;
  }
  .banner-qs {
    margin-left: 0px;
  }
  .banner-qs h2 {
    font-size: 50px;
  }
  .banner-qs p {
    width: 115%;
  }
}

/*# sourceMappingURL=style.css.map */
