* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form_config, .bannerp-formu .container-div .container-dtd .form-input-dtd, .bannerp-formu .container-div .container-dtd .form-label-dtd {
  padding: 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #595959;
}

/*start footer*/
footer {
  font-family: "roboto";
  font-style: "normal";
  font-weight: 400;
  background-color: #fffaf5;
  padding-top: 2%;
}
footer h3 {
  font-size: 20px;
  text-align: center;
}
footer img {
  width: 40%;
  margin: 0 5px;
}
footer ol,
footer ul {
  padding-left: 0rem;
}
footer ul li {
  text-align: center;
  list-style: none;
}
footer ul li .nav-link2 {
  color: rgb(173, 173, 173);
  font-size: 18px;
  text-decoration: none;
}

.navbar {
  font-family: "roboto";
  font-style: "normal";
  font-weight: 400;
  background-color: #fffaf5;
}
.navbar .logo {
  width: 160px;
}
.navbar .offcanvas-title {
  color: #c89274;
}
.navbar .nav-link {
  color: #c89274;
  text-decoration: none;
}
.navbar .nav-item:hover {
  background-color: #e0dddd;
  border-radius: 4px;
  transition: 0.5s;
}

/*start main*/
/*start banner*/
.bannerp {
  position: relative;
  display: inline-block;
}
.bannerp .banner-principal {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.431372549);
  height: 89%;
  top: 11%;
  color: white;
  left: 48%;
}
.bannerp .banner-principal h1 {
  font-size: 6rem;
  margin-top: 28%;
  margin-left: 16%;
  margin-bottom: 34px;
  line-height: 87px;
  font-family: "poppins";
  font-style: "normal";
  font-weight: 700;
}
.bannerp .banner-principal .button {
  font-size: 23px;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(250, 188, 147, 0.76);
  padding: 10px;
  margin-left: 16%;
  font-family: "roboto";
  font-style: "normal";
  font-weight: 400;
}
.bannerp .banner-principal .button:hover {
  color: #434343;
  transition: 0.5s;
}

/*start cards-index*/
.cards-index {
  padding: 30px;
  text-align: center;
}
.cards-index .cards {
  display: inline-block;
  background-color: rgba(255, 251, 251, 0.9333333333);
  padding: 10px;
  margin: 10px;
  height: -webkit-fill-available;
}
.cards-index .cards img {
  width: 10%;
  object-fit: cover;
}
.cards-index .cards h3 {
  padding: 15px;
  color: #a17157;
  font-family: "poppins";
  font-style: "normal";
  font-weight: 500;
}
.cards-index .cards p {
  width: unset;
  color: #c89274;
  font-size: unset;
  padding: 15px;
  font-family: "roboto";
  font-style: "normal";
  font-weight: 300;
}

/*carrusel index*/
.tex-resena {
  text-align: center;
  padding: 20px;
}
.tex-resena h2 {
  color: #a17157;
  font-family: "poppins";
  font-style: "normal";
  font-weight: 300;
}

.carousel {
  text-align: center;
  padding: 20px;
}

.carousel-dark .carousel-caption {
  font-size: 14px;
  width: 600px;
  left: 26%;
  color: white;
}

.carousel-inner p {
  margin: 0 30%;
}

/*start html contacto*/
.bannerp-formu {
  position: relative;
  display: flex;
}
.bannerp-formu .container-div {
  position: absolute;
  margin-top: 16%;
  left: 10%;
}
.bannerp-formu .container-div h2 {
  font-size: 50px;
  margin: 0 0 20px 0;
  color: #a17157;
  font-family: "poppins";
  font-style: "normal";
  font-weight: 700;
}
.bannerp-formu .container-div .container-dtd {
  display: flex;
}
.bannerp-formu .container-div .container-dtd .form-container-dtd {
  display: grid;
  width: 300px;
  margin: 0 39px 0 0;
}
.bannerp-formu .container-div .container-dtd .form-label-dtd {
  margin-top: 5%;
  font-family: "roboto";
  font-style: "normal";
  font-weight: 300;
  color: #a17157;
}
.bannerp-formu .container-div .container-dtd .form-input-dtd {
  border-radius: 10px;
  height: 130%;
  font-family: "roboto";
  font-style: "normal";
  font-weight: 300;
  color: #a17157;
}
.bannerp-formu .container-div .button-enviar-dtd {
  background-color: #434343;
  border-radius: 10px;
  margin-top: 4%;
  width: 100px;
  color: white;
}

/*start html galeria*/
.contenido {
  margin-top: 13%;
  text-align: center;
  display: grid;
  justify-items: center;
}
.contenido h2 {
  color: #a17157;
  font-family: "poppins";
  font-style: "normal";
  font-weight: 500;
}
.contenido p {
  width: 36%;
  color: #807e7e;
  font-size: unset;
  padding: unset;
  margin-top: 10px;
  font-family: "roboto";
  font-style: "normal";
  font-weight: 300;
}

.galeria {
  margin-top: 32px;
  padding: 75px;
}
.galeria .animation-galeria {
  transition: 1s;
  position: relative;
}
.galeria .animation-galeria:hover {
  transform: scale(1.05, 1.05);
}
.galeria .animation-galeria:hover img {
  transition: 0.3s;
  filter: blur(0px);
}
.galeria .animation-galeria .contenedor-imagen {
  position: absolute;
  top: 35%;
  padding: 20px;
  font-size: 13px;
  text-align: center;
  width: 96%;
  background-color: rgba(255, 255, 255, 0.5764705882);
  opacity: 0;
  transition: 0.3s;
}
.galeria .animation-galeria .contenedor-imagen h2 {
  color: #a17157;
  font-family: "poppins";
  font-style: "normal";
  font-weight: 300;
}
.galeria .animation-galeria .contenedor-imagen p {
  color: #1f1f1f;
  font-family: "roboto";
  font-style: "normal";
  font-weight: 300;
}
.galeria .animation-galeria .contenedor-imagen:hover {
  opacity: 1;
}
.galeria img {
  width: 100%;
  filter: blur(1px);
}
.galeria .tards-galeria {
  margin: 0 0 20px;
}

/*start html quienessomos*/
.banner-qs {
  margin-left: 10%;
  display: grid;
  gap: 38px;
  padding: 130px;
  color: rgb(0, 0, 0);
}
.banner-qs h2 {
  color: #a17157;
  font-size: 50px;
  font-family: "poppins";
  font-style: "normal";
  font-weight: 700;
}
.banner-qs p {
  width: 50%;
  color: #807e7e;
  font-size: unset;
  padding: unset;
  font-family: "roboto";
  font-style: "normal";
  font-weight: 300;
}

/*start html servicios*/
#h1_banner {
  font-size: 5rem;
  margin-top: 18%;
  margin-left: 16%;
  margin-bottom: 34px;
  color: #8f8f8f;
  line-height: 77px;
}

.cards-index {
  padding: 50px;
}
.cards-index .cards_servicios img {
  width: 20%;
  object-fit: cover;
}
.cards-index .cards_servicios h3 {
  color: #a17157;
  font-family: "poppins";
  font-style: "normal";
  font-weight: 300;
}
.cards-index .cards_servicios p {
  width: 78%;
  color: unset;
  font-size: 14px;
  padding: unset;
  margin-left: 35px;
  text-align: initial;
  color: #807e7e;
  font-family: "roboto";
  font-style: "normal";
  font-weight: 300;
}
.cards-index .cards_servicios2 img {
  width: 25%;
  object-fit: cover;
}
.cards-index .cards_servicios2 h3 {
  color: #a17157;
  font-family: "poppins";
  font-style: "normal";
  font-weight: 300;
}
.cards-index .cards_servicios2 p {
  width: 78%;
  color: unset;
  font-size: 14px;
  padding: unset;
  margin-left: 35px;
  text-align: initial;
  color: #807e7e;
  font-family: "roboto";
  font-style: "normal";
  font-weight: 300;
}

.card-infocontac {
  width: 534px;
  margin-top: 80px;
}
.card-infocontac .card-infocontac-color {
  background-color: #f7e6db;
}
.card-infocontac .card-infocontac-color h5 {
  color: #a17157;
  font-family: "poppins";
  font-style: "normal";
  font-weight: 300;
}
.card-infocontac .card-infocontac-color p {
  width: unset;
  color: #807e7e;
  font-size: unset;
  padding: unset;
  font-family: "roboto";
  font-style: "normal";
  font-weight: 300;
}

/*comienzo media queries 990px*/
/*index*/
@media only screen and (max-width: 990px) {
  .bannerp img {
    margin-top: 60px;
  }
  .bannerp .banner-principal {
    top: 14%;
    left: 39%;
    right: 0%;
    height: 86%;
  }
  .bannerp .banner-principal h1 {
    font-size: 4rem;
    margin-top: 28%;
    margin-left: 9%;
    margin-bottom: 34px;
    line-height: 66px;
  }
  .bannerp .banner-principal .button {
    margin-left: 10%;
  }
  .carousel-dark .carousel-caption {
    font-size: 13px;
    width: 600px;
    left: 3%;
    color: white;
  }
  /*start html quienessomos*/
  .img-fluid {
    margin-top: 100px;
  }
  .banner-qs {
    margin-left: 92px;
  }
  .banner-qs h2 {
    font-size: 73px;
  }
  .banner-qs p {
    width: 90%;
    color: unset;
    font-size: unset;
    padding: unset;
  }
  /*start html galeria*/
  .contenido {
    margin-top: 26%;
  }
  .contenido p {
    width: 66%;
    color: unset;
    font-size: unset;
    padding: unset;
    margin-top: 22px;
  }
  .galeria .animation-galeria .contenedor-imagen {
    position: absolute;
    top: 30%;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    width: 94%;
    background-color: rgba(255, 255, 255, 0.3450980392);
    opacity: 0;
    transition: 0.3s;
  }
  .galeria .animation-galeria .contenedor-imagen:hover {
    opacity: 1;
  }
  .galeria .animation-galeria .contenedor-imagen h2 {
    font-size: 25px;
  }
  /*start html servicios*/
  #h1_banner {
    font-size: 3rem;
    margin-top: 26%;
    line-height: 52px;
  }
  .cards-index .cards_servicios {
    margin: 0 0 76px;
  }
  .cards-index .cards_servicios img {
    width: 18%;
  }
  .cards-index .cards_servicios2 {
    margin: 0 0 76px;
  }
  .cards-index .cards_servicios2 img {
    width: 18%;
  }
  /*start html contacto*/
  .bannerp-formu {
    margin-top: 37px;
    width: 113%;
  }
  .bannerp-formu .container-div {
    margin-top: 20%;
    left: 2%;
    width: 573px;
  }
  footer img {
    width: 21%;
    margin: 0 5px;
  }
  footer .div-footer {
    margin: 0 0 36px;
  }
}
/*comienzo media queries 660px*/
@media only screen and (max-width: 660px) {
  .bannerp img {
    margin-top: 138px;
  }
  .bannerp .banner-principal {
    top: 14%;
    left: 40%;
    right: 0%;
    height: 86%;
  }
  .bannerp .banner-principal h1 {
    font-size: 36px;
    margin-top: 51%;
    margin-left: 9%;
    margin-bottom: 14px;
    line-height: 38px;
  }
  .bannerp .banner-principal .button {
    font-size: 12px;
  }
  .container img {
    margin-top: 23px;
  }
  .carousel-dark .carousel-caption {
    font-size: 11px;
    width: 600px;
    left: -18%;
    color: white;
  }
  /*start html quienessomos*/
  .img-fluid {
    margin-top: 134px;
  }
  .banner-qs {
    margin-left: 0px;
  }
  .banner-qs h2 {
    font-size: 50px;
  }
  .banner-qs p {
    width: 115%;
    color: unset;
    font-size: unset;
    padding: unset;
  }
  /*start html galeria*/
  .contenido {
    margin-top: 42%;
  }
  .galeria {
    margin-top: 32px;
    padding: 75px;
  }
  .galeria .animation-galeria {
    transition: 1s;
    margin: 0 0 20px;
  }
  .galeria .tards-galeria {
    margin: 0 0 0 0;
  }
  /*start html servicios*/
  #h1_banner {
    font-size: 2rem;
    margin-top: 48%;
    line-height: 37px;
  }
  .card-infocontac {
    width: 480px;
    margin-top: -45px;
  }
  /*start html contacto*/
  .bannerp-formu {
    margin-top: 2px;
    width: 204%;
  }
  .bannerp-formu .container-div {
    margin-top: 20%;
    left: 7px;
    width: 458px;
  }
}

/*# sourceMappingURL=style.css.map */
