* {
    margin: 0;
    padding: 0;
}

.navbar {
    .logo {
        width: 160px;
    }

    .offcanvas-title {
        color: #c89274
    }

    .nav-link {
        color: #c89274;
        text-decoration: none;
    }

    .nav-item {
        &:hover {
            background-color: #e0dddd;
            border-radius: 4px;
            transition: 0.5s;
        }
    }

}



/*start main*/

/*start banner*/

.bannerp {
    position: relative;
    display: inline-block;

    .banner-principal {
        position: absolute;
        top: 31%;
        color: white;
        left: 60%;

        h1 {
            font-size: 6rem;
            
            
           
        }

        .button {
            font-size: 15px;
            text-decoration: none;
            color: #ffffff;
            background-color: #c89274;
            border-radius: 20%;
            padding: 10px;

            &:hover {
                color: #434343;
                transition: 0.5s;
            }
        }
    }

}






/*start cards-index*/


.cards-index {

    padding: 30px;
    text-align: center;

    .cards {
        display: inline-block;
        background-color: #fffbfbee;
        padding: 10px;
        margin: 10px;

        img {
            width: 10%;
            object-fit: cover;

        }


        h3,
        p {
            padding: 15px;
            color: #686767;
        }
    }


}

/*carrusel index*/

.tex-resena {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
}

.carousel {
    text-align: center;
    padding: 20px;
}

.carousel-dark .carousel-caption {
    color: white;
}

.carousel-inner p {
    margin: 0 30%;
}




/*start footer*/


footer {
    background-color: #ffffff;
    padding-top: 10%;

    & h3 {

        font-size: 20px;
        text-align: center;
    }

    & img {
        width: 40%;
        margin: 0 5px;
    }



   ol, ul {
        padding-left: 0rem;
    }


    ul li {
        text-align: center;
        list-style: none;

       

        .nav-link2 {
            color: rgb(173, 173, 173);
            font-size: 18px;
            text-decoration: none;

        }

    }


}




/*start html quienessomos*/

.banner-qs {
    margin-left: 10%;
    display: grid;
    gap: 38px;
    padding: 130px;
    color: rgb(0, 0, 0);

    & h2 {
        font-size: 40px;
    }

    & p{
        width: 50%;
        color: #807e7e;
    }
    
    
}




/*start html galeria*/

.contenido{
    margin-top: 13%;
    text-align: center;
    display: grid;
    justify-items: center;
    
    & p{
        width: 36%;
        margin-top: 10px;
        color: #807e7e;
    }
}

.galeria{
    margin-top: 32px;
    padding: 75px;
    
     .animation-galeria{
        transition: 1s;
     &:hover{
        transform: scale(1.05,1.05);
        
     }

     }
    
    img{
        width: 100%;
        
    }

    .tards-galeria{
        margin: 0 0 20px;
    }
}


/*start html servicios*/


.cards-index {
    padding: 50px;

    .cards_servicios img {
        width: 20%;
        object-fit: cover;
    
    }
    
    .cards_servicios2 img {
        width: 25%;
        object-fit: cover;
    
    }
   
}

.card-infocontac {
    width: 534px; 
    margin-top: 80px;

    .card-infocontac-color {
        background-color: #f7e6db;

        & p{
            color: #807e7e;
        }
    }

}





/*start html contacto*/

.bannerp-formu {
    position: relative;
    display: flex;

    .container-div {
        position: absolute;
        margin-top: 16%;
        left: 10%;
        
        .container-div {

            & h2{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 30px;
            margin: 0 0 20px 0;
            color: #434343;
        }
        }
        
        .container-dtd {
            display: flex;

            .form-container-dtd {
                display: grid;
                width: 300px;
                margin: 0 39px 0 0;
            }
            
            .form-label-dtd {
                margin-top: 5%;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #595959;
            }
            
            .form-input-dtd {
                border-radius: 10px;
                height: 130%;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            
         
        }
        .button-enviar-dtd {
            background-color: #434343;
            border-radius: 10px;
            margin-top: 4%;
            width: 100px;
            color: white;
        }
        

    }
    
    
}



/*comienzo media queries 990px*/

/*index*/

@media only screen and (max-width: 990px) {

    .bannerp{
       width: 170%;
 
        & img{

            margin-top: 60px;
        }

        .banner-principal {
            top: 46%;
            left: 5%;
            right: 40%;

            & h1 {
                font-size: 5rem;
            }
        }
    }

/*start html quienessomos*/

.img-fluid{
    margin-top: 100px;
 }

.banner-qs {
    margin-left: 92px;

    & h2 {
        font-size: 73px;
    }

    & p{
        width: 90%;
    }
    
    
}
    
    

}



/*comienzo media queries 660px*/

@media only screen and (max-width: 660px){
    .bannerp{
        width: 170%;
 
         & img{
 
             margin-top: 60px;
         }
 
         .banner-principal {
             top: 46%;
             left: 5%;
             right: 40%;

             & h1 {
                font-size: 3rem;
            }
         }
     }

     /*start html quienessomos*/


     .img-fluid{
        margin-top: 134px;
     }

.banner-qs {
    margin-left: 0px;

    & h2 {
        font-size: 50px;
    }

    & p{
        width: 115%;
    }
    
    
}
    
}