/*start html contacto*/

.bannerp-formu {
    position: relative;
    display: flex;

    .container-div {
        position: absolute;
        margin-top: 16%;
        left: 10%;

       

            & h2 {
                font-size: 50px;
                margin: 0 0 20px 0;
                color: #a17157;
                @include tipografia_config('poppins','normal',700);
            }
     

        .container-dtd {
            display: flex;

            .form-container-dtd {
                display: grid;
                width: 300px;
                margin: 0 39px 0 0;
            }

            .form-label-dtd {
                margin-top: 5%;
                @extend .form_config;
                @include tipografia_config('roboto','normal',300);
                color: #a17157;
            }

            .form-input-dtd {
                border-radius: 10px;
                height: 130%;
                @extend .form_config;
                @include tipografia_config('roboto','normal',300);
                color: #a17157;
            }


        }

        .button-enviar-dtd {
            background-color: #434343;
            border-radius: 10px;
            margin-top: 4%;
            width: 100px;
            color: white;
        }


    }


}