/*start main*/

/*start banner*/

.bannerp {
    position: relative;
    display: inline-block;

    .banner-principal {
        position: absolute;
        background-color: #ffffff6e;
        height: 89%;
        top: 11%;
        color: white;
        left: 48%;

        h1 {
            font-size: 6rem;
            margin-top: 28%;
            margin-left: 16%;
            margin-bottom: 34px;
            line-height: 87px;
            @include tipografia_config('poppins','normal',700);
        }

        .button {
            font-size: 23px;
            text-decoration: none;
            color: #ffffff;
            background-color: rgb(250 188 147 / 76%);
            padding: 10px;
            margin-left: 16%;
            @include tipografia_config('roboto','normal',400);

            &:hover {
                color: #434343;
                transition: 0.5s;
            }
        }
    }

}



/*start cards-index*/


.cards-index {

    padding: 30px;
    text-align: center;


    .cards {
        display: inline-block;
        background-color: #fffbfbee;
        padding: 10px;
        margin: 10px;
        height: -webkit-fill-available;

        img {
            width: 10%;
            object-fit: cover;

        }


        h3{
            padding: 15px;
            color: #a17157;
            @include tipografia_config('poppins','normal',500);
        }
        p {
            @include parrafo_config(unset,#c89274,unset,15px);
            @include tipografia_config('roboto','normal',300);
        }
    }


}

/*carrusel index*/

.tex-resena {
    text-align: center;
    padding: 20px;
    & h2{
        color: #a17157;
    @include tipografia_config('poppins','normal',300);
}
}

.carousel {
    text-align: center;
    padding: 20px;
}

.carousel-dark .carousel-caption {
    font-size: 14px;
    width: 600px;
    left: 26%;
    color: white;
}

.carousel-inner p {
    margin: 0 30%;
}