/*start html quienessomos*/

.banner-qs {
    margin-left: 10%;
    display: grid;
    gap: 38px;
    padding: 130px;
    color: rgb(0, 0, 0);

    & h2 {
        color: #a17157;
        font-size: 50px;
        @include tipografia_config('poppins','normal',700);
    }

    & p {
        @include parrafo_config(50%,#807e7e,unset,unset);
        @include tipografia_config('roboto','normal',300);
    }


}