/*start html servicios*/

#h1_banner {
    font-size: 5rem;
    margin-top: 18%;
    margin-left: 16%;
    margin-bottom: 34px;
    color: #ffffff;
    line-height: 77px;
   

}


.cards-index {
    padding: 50px;

    .cards_servicios {

        & img {
            width: 20%;
            object-fit: cover;
        }

        & h3{
            color: #a17157;
            @include tipografia_config('poppins','normal',300);
        }

        & p {
            @include parrafo_config(78%,unset,14px,unset);
            margin-left: 35px;
            text-align: initial;
            color:#807e7e ;
            @include tipografia_config('roboto','normal',300);
        }

    }

    .cards_servicios2 {

        & img {
            width: 25%;
            object-fit: cover;

        }

        & h3{
            color: #a17157;
            @include tipografia_config('poppins','normal',300);
        }
       

        & p {
            @include parrafo_config(78%,unset,14px,unset);
            margin-left: 35px;
            text-align: initial;
            color:#807e7e ;
            @include tipografia_config('roboto','normal',300);
        }



    }

}

.card-infocontac {
    width: 534px;
    margin-top: 80px;

    .card-infocontac-color {
        background-color: #f7e6db;

        & h5{
            color: #a17157;
            @include tipografia_config('poppins','normal',300);
        }

        & p {
            @include parrafo_config(unset,#807e7e,unset,unset);
            @include tipografia_config('roboto','normal',300);
        }
    }

}